@import url("layout.css");

/* ACE EDITOR */
#editor { position: relative !important;
          /*border: 1px solid lightgray;*/
          margin-top: 0px; /* Navbars @ ~43px */
          height: 500px;
          width: 100%;
          /*padding: 0 0 0 0;  */
        }

#editor.fullScreen { height: auto;
                     width: auto;
                     border: 0;
                     margin: 0;
                     position: fixed !important;
                     top: 0;
                     bottom: 0;
                     left: 0;
                     right: 0;
                     z-index: 10;

                   }

.fullScreen { overflow: hidden
            }

.scrollmargin { height: 50px;
                text-align: center;
              }

/* STATUS WINDOW */

/*
.status_window textarea { width: 100%;
                          height: 500px;
                        }

/*
#status_window { margin-top: 0px; 
               margin-left: 0px;
               padding: 0 0 0 0;
               width: 100%;
 } 
*/

#statusbox {  width: 100%; }

/* REPL BOX */

#repl { 
        width: 100%;
        background-color: grey;
        color: white;
      }

